# Sandbox
export BRAINTREE_MASTER_MERCHANT_ID=3k58xzg7rr5zptdt
export BRAINTREE_MERCHANT_ID=3k58xzg7rr5zptdt
export BRAINTREE_PUBLIC_KEY=cwbc86thxh8kxrpy
export BRAINTREE_PRIVATE_KEY=43941ce3c209ad2b7dbbbdf99e806615